<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{{ getResourceURL('images/favicon.png')|raw }}" />
        <title>Nishchay - Open structure PHP framework</title>
        <link type="text/css" rel="stylesheet" href="{{ getResourceURL('css/bootstrap.min.css')|raw }}"/>
        <style type="text/css">
            @font-face {
                font-family: 'Hind';
                font-style: normal;
                font-weight: 300;
                src: local('Hind Light'), local('Hind-Light'), url("{{ getResourceURL('fonts/google-hind.woff2')|raw }}") format('woff2');
            }
            body{margin: 0;padding: 0;background-color: #fff;font-family: 'Hind', sans-serif;font-size: 15px}
            .gradiant{text-align: center;margin: 30px 0;background: linear-gradient(to right, #f8085b 36%, #00bdf5 55%);background-clip: border-box;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
            a{color: #f8085b;text-decoration: none}
            a:hover{color: #439dff;text-decoration: none}
            .header{padding: 10px 0;box-shadow:0 0 3px #f8085b;text-align: center}
            .header img{width: 150px}
            .content{margin-top: 50px}
            .guide-link, .guide-link:hover{color: #000}
            .guide{border: 1px solid #f7f7f7;padding: 10px;height: 300px;cursor: pointer;border-radius: 5px}
            .guide h3{text-align: center;font-weight: bold;margin-top: 10px}
            .guide-web{border-color: #00bdf5;background-color: #ddf7ff}
            .guide-web:hover{box-shadow: 0 0 5px #00bdf5}
            .guide-rest{border-color: #f8085b;background-color: #fff0f5}
            .guide-rest:hover{box-shadow: 0 0 5px #f8085b}
        </style>
    </head>
    <body>
        <div class="container-fluid wrapper">
            <div class="row text-center header">
                <div class="col-lg-12">
                    <a href="{{ nishchayUrl|raw }}" target="_blank"><img src="{{ getResourceURL('images/nishchay.png')|raw }}" alt="Nishchay Logo"/></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 content">
                    <h1 class="gradiant">What do you want to develop?</h1>
                    <div class="row">
                        <div class="col-md-3 offset-md-3">
                            <a href="{{ nishchayUrl ~ '/learningCenter/getStarted/web' }}" class="guide-link" target="_blank">
                                <div class="guide guide-web">
                                    <h3>Web application</h3>
                                    <p>Create an application which user can visit using browser along with backend processing such data handling, session management and more</p>

                                    <p>This can also include Bloging website, CMS tool, CRM tool, e-commerce application, business application and many more.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="{{ nishchayUrl ~ '/learningCenter/getStarted/restApi' }}" class="guide-link" target="_blank">
                                <div class="guide guide-rest">
                                    <h3>REST API</h3>
                                    <p>
                                        Create an application which can be act as rest API to be used mobile application, frontend website and more.
                                    </p>
                                    <p>
                                        This can be used by fronend only web application developed using any PWA framework or mobile application.
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</body>
</html>
