<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="icon" type="image/png" href="{{ getResourceURL('images/favicon.png')|raw }}" />
        <title>Nishchay - Open structure PHP framework</title>
        <link type="text/css" rel="stylesheet" href="{{ getResourceURL('css/bootstrap.min.css')|raw }}"/>
        <style type="text/css">
            @font-face {
                font-family: 'Hind';
                font-style: normal;
                font-weight: 300;
                src: local('Hind Light'), local('Hind-Light'), url("{{ getResourceURL('fonts/google-hind.woff2')|raw }}") format('woff2');
            }
            body{margin: 0;padding: 0;background-color: #fff;font-family: 'Hind', sans-serif;font-size: 15px}
            h3{text-align: center;margin: 30px 0;background: linear-gradient(to right, #f8085b 36%, #00bdf5 55%);background-clip: border-box;-webkit-background-clip: text;-webkit-text-fill-color: transparent;}
            a{color: #f8085b;text-decoration: none}
            a:hover{color: #439dff;text-decoration: none}
            .header{padding: 10px 0;box-shadow:0 0 3px #f8085b;text-align: center}
            .header img{width: 150px}
            .content{margin-top: 50px}
            .guide{border: 1px solid #f7f7f7;box-shadow: 0 5px 20px 0 #F9F9F9;padding: 10px;height: 700px}
            .guide li{font-size: 18px;padding:10px}
            .guide p{font-size: 15px;margin:20px}
            .command-result{margin-left: 30px}
            h5{font-weight: 600;text-align: center}
            h5 a{border: 1px solid #f8085b;padding: 10px 20px;border-radius: 5px}
            h5 a:hover{border-color: #439dff}
            .whats-more{margin: 20px;padding: 10px}
            .whats-more p{margin: 0}
        </style>
    </head>
    <body>
        <div class="container-fluid wrapper">
            <div class="row text-center header">
                <div class="col-lg-12">
                    <a href="{{ nishchayUrl|raw }}" target="_blank"><img src="{{ getResourceURL('images/nishchay.png')|raw }}" alt="Nishchay Logo"/></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10 content">
                    <div class="row steps-container">
                        <div class="col-lg-6">
                            <div class="guide">
                                <h3>Your first tutorial</h3>
                                <ol>
                                    <li>Open terminal/Command prompt</li>
                                    <li>Go to <i>{{ constant('ROOT') }}</i></li>
                                    <li>Type <code>php nishchay prototype -generate -new</code> and hit enter</li>
                                </ol>
                                <div class="command-result">
                                    <p>
                                        This will create entity, table in database, Form class(Used for rendering form and its validation), creates crud controller along with CRUD prototype. 
                                    </p>
                                    <p>
                                        Created controller will have following routes with its implementation
                                    </p>

                                    <ul>
                                        <li>
                                            <code>GET /</code> Fetches list of records. Use <i>limit</i> and <i>offset</i> for pagination.
                                        </li>
                                        <li>
                                            <code>POST /</code> for inserting record into table.
                                        </li>
                                        <li>
                                            <code>PUT /{id}</code> for updating record.
                                        </li>
                                        <li>
                                            <code>DELETE /{id}</code> to delete record.
                                        </li>
                                        <li>
                                            <code>GET /{id}</code> to fetch details of single record.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="guide">
                                <h3>What you can do more</h3>
                                <div class="whats-more">
                                    <p>
                                        This application comes with create account, authentication and get user implementation. 
                                        Follow below step and then understand how it has been implemented.
                                    </p>
                                    <ol>
                                        <li>Execute <code>db.sql</code></li>
                                        <li>
                                            Create an account using <code>POST user</code> url. Pass <code>scope = user</code>, to allow access to user data.
                                        </li>
                                        <li>
                                            Check authentication using <code>POST user/authorize</code>, this service also need <code>scope = user</code>, to allow access to user data.
                                        </li>
                                        <li>
                                            Use <code>accessToken</code> returned by create account or authorize service to fetch user detail using <code>GET user</code>
                                        </li>
                                    </ol>
                                </div>
                                <h5><a href="{{ nishchayUrl~'learningCenter'|raw }}">Learn more at learning center</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
    </body>
</html>
